@import './base.css';

#app {
  font-weight: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: rgba(160, 210, 235, 0.21);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.link {
  cursor: pointer !important;
}

.card-data-value {
  color: #888;
}

.font-bolder {
  font-weight: bolder;
}

.bg-card-header {
  background-color: #e5eaf5 !important;
}

.actions-modal-mid {
  min-width: 40vw;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
